<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014289991116-dla1pi5d64bfvap6av77jd6r4j70ag5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014289991116-dla1pi5d64bfvap6av77jd6r4j70ag5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAvghd9dEWnxqbRTpKMy9QEQPWqIeDtRdo</string>
	<key>GCM_SENDER_ID</key>
	<string>1014289991116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.va.VAAPNSWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>vaapnswithfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>vaapnswithfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014289991116:ios:a75a1678f7925a6b630969</string>
	<key>DATABASE_URL</key>
	<string>https://vaapnswithfirebase.firebaseio.com</string>
</dict>
</plist>